<!DOCTYPE HTML>
<html>
    <body>
        <h1>{{ message }}</h1>
    </body>
</html>

<p style="text-align: center; color: #aaa; font-size: 12px; padding-bottom: 20px;">
    {{ getMicroTime() }} ms
</p>
